body {
  margin: 0;
  padding: 0;
  padding-right: 30px;
  font-family: "Questrial", sans-serif;
  line-height: 1.5;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
}

main {
  margin-left: 300px;
  width: calc(100%-300px);
}

nav header {
  text-align: center;
  font-size: 1.5em;
}

nav ul li {
  list-style: none;
  line-height: 2;
}

.nav-link {
  text-decoration: none;
  color: black;
  display: block;
  border-bottom: 1px solid #009933;
  padding-left: 20px;
}

#navbar {
  background-color: #ccffcc;
  height: 100%;
}

#navbar header {
  padding-top: 25px;
}

#navbar ul {
  padding: 0;
}

#main-doc {
  padding: 20px;
}

#menuIcon {
  display: none;
}

.main-section header {
  font-size: 2em;
}

code {
  white-space: pre;
  display: block;
  padding: 10px 5px 10px 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

@media (max-width: 600px) {
  body {
    padding: 0;
  }
  #menuIcon {
    display: initial;
    padding-left: 15px;
    cursor: pointer;
  }
  #navbar {
    height: auto;
    width: 100%;
  }
  #navbar ul {
    display: none;
  }
  main {
    margin-left: 0;
    margin-top: 50px;
  }
}